* {
    font-family: 'Jura', sans-serif;

}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
}

h2 {
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;

}

h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

body  {
    background-image: url("./images/ACNH_Multicolour.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#vitalScorecards {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}

p {
    font-family: 'Jura', sans-serif;
    text-align: center;
    color: #545454;
}

#content {
    background-color: white;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    border-color: lightyellow;
    border: 15px solid transparent;
    border-image: linear-gradient(to bottom right, #f3747b 0%, #93d6e3 25%, #14c8b9 50%, #ecde78 75%, #b19bcb 100%);
    border-image-slice: 1;
}

.dashboard {
    font-family: 'Jura', sans-serif;
    color: blue;
    font-size: 30px;
}

.chart-parent--container {
    display: flex;
}

.chart--container {
    height: 100%;
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.chart--container2 {
    height: 100%;
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 15%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 7%;
}

.flex-item1 {
    width: 70%; 
    padding-right: 3%;
    text-align: center;
}

.flex-item2 {
    width: 30%; 
    text-align: center;
}

#usMap {
    height: 570px;
}

.center {
    text-align: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

#console {
    background-image: url("./images/console.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh; 
    width: 100vw; 
    background-size: 90% 70%;
    background-position: center center; 
}

#screen {
    padding-top: 30vh;
    text-align: center;
    justify-content: center;
    height: auto;
}

#title1 {
    color: #80a5fb;
    margin-top: 10%;
    margin-bottom: 0;
}

#hr1 {
    margin-top: 10%;
    margin-bottom: 10%;
    background: linear-gradient(to right, #80a5fb, #82caa5);
    border: none;
    height: 2px;
    width: 80%;
    border-radius: 30px;
}

#title2 {
    color: #82caa5;
}

#hr2 {
    margin-top: 10%;
    margin-bottom: 10%;
    background: linear-gradient(to right, #82caa5, #b19bcb);
    height: 2px;
    width: 80%;
    border: none;
    border-radius: 30px;
}

#title3 {
    color: #b19bcb;
}

#hr3 {
    margin-top: 10%;
    margin-bottom: 10%;
    background: linear-gradient(to right, #b19bcb, #93d6e3);
    height: 2px;
    width: 80%;
    border: none;
    border-radius: 3px;
}

#title4 {
    color: #93d6e3;
}

#hr4 {
    margin-top: 10%;
    margin-bottom: 10%;
    background: linear-gradient(to right, #93d6e3, #f8996d);
    height: 2px;
    width: 80%;
    border: none;
    border-radius: 3px;
}

#title5 {
    color: #f8996d;
}

#hr5 {
    margin-top: 10%;
    margin-bottom: 10%;
    background: linear-gradient(to right, #f8996d, #14c8b9);
    height: 2px;
    width: 80%;
    border: none;
    border-radius: 3px;
}

#title6 {
    color: #14c8b9; 
}

#hr6 {
    margin-top: 10%;
    margin-bottom: 10%;
    background: linear-gradient(to right, #14c8b9, #f3747b);
    height: 2px;
    width: 80%;
    border: none;
    border-radius: 3px;
}

#title7 {
    color: #f3747b;
}

#KyogokuText {
    padding-left: 15%;
    padding-right: 10%;
}

#title8 {
    font-size: 25px;
    color: #f8996d;
}

#hr7 {
    margin-top: 10%;
    margin-bottom: 10%;
    background: linear-gradient(to right, #f3747b, #82a0aa);
    height: 2px;
    width: 80%;
    border: none;
    border-radius: 3px;
}

#title9 {
    color: #82a0aa;
}

#ending {
    margin-bottom: 10%;
}