* {
    font-family: 'Bitter', serif;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
}

h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

body  {
    background-image: url("./images/ACNH_Multicolour.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p {
    font-size: 30px;
}

#content {
    background-color: white;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    border-color: lightyellow;
    border: 15px solid transparent;
    border-image: linear-gradient(to bottom right, #f3747b 0%, #93d6e3 25%, #14c8b9 50%, #ecde78 75%, #b19bcb 100%);
    border-image-slice: 1;
}

.chart-parent--container {
    display: flex;
}

.chart--container {
    height: 100%;
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
}

#usMap {
    height: 630px;
}

.center {
    text-align: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
    margin-bottom: 3%;
}


