h1, h3 {font-family: "Paytone One", sans-serif;}

body {font-family: "Montserrat", sans-serif;}

h3 {display: inline;}

.logo {
    width: 135px; 
    height: 40px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-top: 20px;
}
.flex-item {
    width: 33%; 
    text-align: center;
}
.dollar-sign {
    color: green; 
    font-size: 30px;
}
.number {
    color: blue; 
    font-size: 30px;
}


.grid-container {
    display: grid; 
    grid-template-columns: 30% 30% 40%;
}
.grid-item-1 {text-align: center;}
#chart-1 {
    width: 110%; 
    height: 100%; 
    margin: 10px;
}
.grid-item-2 {text-align: center;}
#chart-2 {width: 110%; height: 110%; padding-top: 10px;}


.grid-item-3 {text-align: center;}
.iframe-container {overflow: hidden; position: relative; padding-top: 80%;}
iframe {
    border: 0; 
    left: 0; 
    top: 0; 
    width: 105%; 
    height: 88%; 
    position: absolute;}
a:link {
    padding-left: 10%;
    text-align: center;
    display: inline-block;
}

#first-col {
    background-color: lightgray;
}

table {
    width: 80%; 
    text-align: center;
    margin-left: 10%; 
    margin-right:10%; 
    margin-top: 2%; 
    margin-bottom: 2%; 
    border: 2px solid black; 
} 
th, td {
    border: 1px solid black; 
}

fieldset {
    border: white;
    margin: 1%;
}

#dialog {
    text-align: center; 
    padding: 2.5%;
    position: absolute;
}

#order-button {
    color: lightgray;
}